section.about
  img.about-block(src='img/about/left-side-XL.jpg' alt='alt' title='title')
  .about-block.about-container
    h3 trusted since 2001
    h4 we are exploore
    p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil reiciendis deleniti doloribus atque
      | odio deserunt dolorum recusandae architecto enim quisquam eveniet nobis, iusto repellendus reprehenderit
      | error, temporibus, nisi sequi!
    ul.desc-txt
      li.about-list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, pariatur nemo!
      li.about-list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, repellat, consequuntur.
      li.about-list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, magnam, aliquid!
