section.blog
  .container
    h3 trusted since 2001
    h4 go explore
    .grid-block
      .grid-item
        img(src="/img/blog/blog-item-1-XL.jpg" title='blog-item-1' alt="blog-item-1")
        .blog-container
          p.blog-title lorem ipsum dolor
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, maxime!
          button.blog-btn click here
      .grid-item
        img(src="/img/blog/blog-item-2-XL.jpg" title='blog-item-2' alt="blog-item-2")
        .blog-container
          p.blog-title lorem ipsum dolor
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, maxime!
          button.blog-btn click here
      .grid-item
        img(src="/img/blog/blog-item-3-XL.jpg" title='blog-item-3' alt="blog-item-3")
        .blog-container
          p.blog-title lorem ipsum dolor
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, maxime!
          button.blog-btn click here
