section.budget-section
  .container
    h2 trusted since 2001
    h3 we are travel agent
    .grid-block
      .budget-item
        p.budget-title#low low budget trip
        p.budget-price &#36; 500
        ul.budget-lst.desc-txt
          li Lorem ipsum dolor
          li Lorem ipsum dolor
          li Lorem ipsum dolor
          li Lorem ipsum dolor
      .budget-item
        p.budget-title#mid mid budget trip
        p.budget-price &#36; 800
        ul.budget-lst.desc-txt
          li Lorem ipsum dolor
          li Lorem ipsum dolor
          li Lorem ipsum dolor
          li Lorem ipsum dolor
      .budget-item
        p.budget-title#high high budget trip
        p.budget-price &#36; 1000
        ul.budget-lst.desc-txt
          li Lorem ipsum dolor
          li Lorem ipsum dolor
          li Lorem ipsum dolor
          li Lorem ipsum dolor
  .btm-block section separator
