section.customer-reviews-bg
  h3 customer reviews
  h4 we are travel agent
  div
    p
      em "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, maxime saepe obcaecati voluptates
        | nemo. Ex illum neque, ea velit inventore, quas adipisci ipsam pariatur vel facere, magnam ducimus
        | dolorem dolore. Nulla dolor illum, doloremque labore voluptatem placeat expedita aliquam impedit aperiam
        | laboriosam, ratione, quae maxime illo vitae id ullam nemo sequi accusantium."
    .stars
      i.fa.fa-star(aria-hidden="true")
      i.fa.fa-star(aria-hidden="true")
      i.fa.fa-star(aria-hidden="true")
      i.fa.fa-star(aria-hidden="true")
      i.fa.fa-star(aria-hidden="true")
    div
      img(src="" title="" alt="")
      div
        p Name
        p Surname
