.footer-bg
  h3 start your journey
  h4 contact us
  i.fa.fa-map-marker.footer-marker(aria-hidden="true")
.footer-contacts
  div.main-contacts
    .main-contacts-item
      i#email.fa.fa-envelope-o.main-contacts-item-icon(aria-hidden="true")
      .desc-txt
        p.main-contacts-item-title email
        p.main-contacts-item-subtitle free@psdfreebies.com
        p.main-contacts-item-subtitle free@psdfreebies.com
    .main-contacts-item
      i#call.fa.fa-mobile.main-contacts-item-icon(aria-hidden="true")
      .desc-txt
        p.main-contacts-item-title call us
        p.main-contacts-item-subtitle +1(234)56-78-901
        p.main-contacts-item-subtitle +1(234)56-78-901
    .main-contacts-item
      i#address.fa.fa-map-o.main-contacts-item-icon(aria-hidden="true")
      .desc-txt
        p.main-contacts-item-title address
        p.main-contacts-item-subtitle
          | 123, Main Road, New City,
          br
          | My Country123456
  ul.social-contacts
    li
      a(href="https://www.facebook.com/" target="_blank").facebook social
    li
      a(href="https://www.google.com/" target="_blank").google social
    li
      a(href="https://vk.com/" target="_blank").vkontakte social
    li
      a(href="https://www.youtube.com/" target="_blank").youtube social
    li
      a(href="https://www.linkedin.com/" target="_blank").linkedin social
    li
      a(href="https://digg.com/" target="_blank").digg social
    li
      a(href="https://www.deviantart.com/" target="_blank").deviantart social
.footer-copyright
  p.desc-txt Designed By PSDFreebies.com
  p.desc-txt Developed By Buldakov Aleksandr
  p.desc-txt Copyright 2020, All Right Reserved
  button.up-btn up
