.footer-bg
  h3 start your journey
  h4 contact us
  i.fa.fa-map-marker.footer-marker(aria-hidden="true")
.footer-contacts
  div.main-contacts txt
  ul.social-contacts
    li.facebook social
    li.google social
    li.vkontakte social
    li.youtube social
    li.linkedin social
    li.digg social
    li.deviantart social
.footer-copyright
