header
  .header-row
    .row-item
      i.fa.fa-phone(aria-hidden='true')
      a.info-link(href='tel: +12345678900') +1(234)-567-89-00
    .row-item
      i.fa.fa-envelope(aria-hidden='true')
      a.info-link(href='mailto: user@gmail.com') free@psdfreebies.com
    .row-item
      a(href='https://www.facebook.com/' target='_blank')
        i.fa.fa-facebook.social(aria-hidden='true')
      a(href='https://www.google.com/' target='_blank')
        i.fa.fa-google-plus.social(aria-hidden='true')
      a(href='https://vk.com/' target='_blank')
        i.fa.fa-vk.social(aria-hidden='true')
      a(href='https://www.youtube.com/' target='_blank')
        i.fa.fa-youtube.social(aria-hidden='true')
    .row-item
      i.fa.fa-user(aria-hidden='true')
      p login
      i.fa.fa-key(aria-hidden='true')
      p sign up
  nav.header-row
    .logo
      p.logo-name expl
        span o
        span o
        |re
      p.logo-description creative tagline here
    ul.menu
      li
        a(href='#') home
      li
        a(href='#') destination
      li
        a(href='#') discount
      li
        a(href='#') about
      li
        a(href='#') blog
      li
        a(href='#') contact
