header
  .header-mob
    .header-row
      .logo
        p.logo-name expl
          span o
          span o
          | re
        p.logo-description creative tagline here
      .mob-burger
        span mobile-burger
    nav.mob-menu-wrapper
      ul.menu.mob-menu
        li
          a(href='#' data-anchor="about") about
        li
          a(href='#' data-anchor="budget") budget
        li
          a(href='#' data-anchor="discount") discount
        li
          a(href='#' data-anchor="blog") blog
        li
          a(href='#' data-anchor="reviews") reviews
        li
          a(href='#' data-anchor="contacts") contacts
        li
          p.mob-menu-auth-link.sign-in(data-class="sign-in-tab") sign in
          p.mob-menu-auth-link.sign-up(data-class="sign-up-tab") sign up
  .header-desk
    .container
      .header-row
        a.contact-link.phone(href='tel:+12345678900') +1(234)-567-89-00
        a.contact-link.mail(href='mailto:user@gmail.com') free@psdfreebies.com
        .social-wrap
          a.facebook(href='https://www.facebook.com/' target='_blank') facebook
          a.google(href='https://www.google.com/' target='_blank') google
          a.vkontakte(href='https://vk.com/' target='_blank') vkontakte
          a.youtube(href='https://www.youtube.com/' target='_blank') youtube
        .auth-wrap
          p.desk-menu-auth-link.sign-in(data-class="sign-in-tab") sign in
          p.desk-menu-auth-link.sign-up(data-class="sign-up-tab") sign up
      nav.header-row
        .logo
          p.logo-name expl
            span o
            span o
            |re
          p.logo-description creative tagline here
        ul.menu.desk-menu
          li
            a(href='#' data-anchor="about") about
          li
            a(href='#' data-anchor="budget") budget
          li
            a(href='#' data-anchor="discount") discount
          li
            a(href='#' data-anchor="blog") blog
          li
            a(href='#' data-anchor="reviews") reviews
          li
            a(href='#' data-anchor="contacts") contacts
  .auth-block-wrapper
    .auth-block
      .auth-block-close-btn Desktop authorization block close button
      .auth-container
        ul
          li.sign-in(data-class="sign-in-tab") sign in
          li.sign-up(data-class="sign-up-tab") sign up
        form.login
          label
            p Login
            input(type="text" placeholder="Login")
          label
            p Password
            input(type="password" placeholder="Password")
          label
            input(type="checkbox" name="remember")
            p Remember me
          input(type="submit" value="login")
          a(href="/") Forget password?
        form.register
          label
            p Name
            input(type="text" placeholder="Name")
          label
            p Last name
            input(type="text" placeholder="Last name")
          label
            p Mail
            input(type="text" placeholder="Mail")
          label
            p Password
            input(type="password" placeholder="Password")
          input(type="submit" value="register")
