header
  .header-mob
    .header-row
      .logo
        p.logo-name expl
          span o
          span o
          | re
        p.logo-description creative tagline here
      .mob-burger
        span mobile-burger
    ul.mob-menu
      li
        a(href='#') home
      li
        a(href='#') destination
      li
        a(href='#') discount
      li
        a(href='#') about
      li
        a(href='#') blog
      li
        a(href='#') contact
      li
        a(href='#').mob-menu-auth-link.sign-in sign in
        a(href='#').mob-menu-auth-link.sign-up sign up
  .header-desk
    .container
      .header-row
        a.contact-link.phone(href='tel: +12345678900') +1(234)-567-89-00
        a.contact-link(href='mailto: user@gmail.com') free@psdfreebies.com
        .social-wrap
          a.facebook(href='https://www.facebook.com/' target='_blank') facebook
          a.google(href='https://www.google.com/' target='_blank') google
          a.vkontakte(href='https://vk.com/' target='_blank') vkontakte
          a.youtube(href='https://www.youtube.com/' target='_blank') youtube
        .auth-wrap
          p.sign-in sign in
          p.sign-up sign up
      nav.header-row
        .logo
          p.logo-name expl
            span o
            span o
            |re
          p.logo-description creative tagline here
        ul.menu
          li
            a(href='#') home
          li
            a(href='#') destination
          li
            a(href='#') discount
          li
            a(href='#') about
          li
            a(href='#') blog
          li
            a(href='#') contact
