section
  .container
    h2 our best services
    h3 we are travel agent
    ul.service-list
      li.service-list-item.plane
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, natus deleniti.
      li.service-list-item.train
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, sit. Sint?
      li.service-list-item.hotel
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, perspiciatis, nesciunt?
      li.service-list-item.bike
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dicta, quia.
      li.service-list-item.cultery
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ratione aut.
      li.service-list-item.eye
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, explicabo, modi!
