section
  .container
    h3 our best services
    h4 we are travel agent
    ul.service-list
      li#plane.service-list-item
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, natus deleniti.
      li#train.service-list-item
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, sit. Sint?
      li#hotel.service-list-item
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, perspiciatis, nesciunt?
      li#bike.service-list-item
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dicta, quia.
      li#cultery.service-list-item
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ratione aut.
      li#eye.service-list-item
        p.title-txt lorem ipsum dolor sit
        p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, explicabo, modi!
