section
  .container
    h3 our best services
    h4 we are travel agent
    .service-list
      .service-list-item
        .service-list-txt#plane
          p.title-txt lorem ipsum dolor sit
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, natus deleniti.
      .service-list-item
        .service-list-txt#train
          p.title-txt lorem ipsum dolor sit
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, sit. Sint?
      .service-list-item
        .service-list-txt#hotel
          p.title-txt lorem ipsum dolor sit
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, perspiciatis, nesciunt?
      .service-list-item
        .service-list-txt#bike
          p.title-txt lorem ipsum dolor sit
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dicta, quia.
      .service-list-item
        .service-list-txt#cultery
          p.title-txt lorem ipsum dolor sit
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ratione aut.
      .service-list-item
        .service-list-txt#eye
          p.title-txt lorem ipsum dolor sit
          p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, explicabo, modi!
