section.slide-show
  img.tour-desc-img(src="/img/tour-desc-bg-XL.png")
  .tour-desc
    h3.tour-desc-title new york + paris
    p.tour-desc-period 7 days + 6 nights
    ul.status-list
      li.plane-blue flight
      li.hotel-blue hotel
      li.cab-blue transport
    p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ex aperiam ipsum unde saepe quisquam
      | assumenda numquam distinctio. Animi, ullam.
    div.tour-book-section
      p.tour-book-price &#36; 1000
      button.grid-btn book now
