section.start-section
  .start-section-greating
    h1 start your greatest
    h2 adventure with us!
    p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia suscipit veleos repellat obcaecati non
      |laborum explicabo cupiditate fugiat. Corrupti
    button.start-btn click here
