section
  .container.status-section
    img(src="img/windsurfing-XL.png" title='windsurfing' alt='windsurfing')
    .column
      h3 trusted since 2001
      h4 We are Travel Agent
      .status-line
        .status-line-item.fly.active
          p flight
        .status-line-item.cab
          p cab
        .status-line-item.hotel
          p hotel
      p.desc-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur reprehenderit error, expedita hic
        |repellendus unde, quae sapiente. Asperiores, nesciunt quasi. Similique, tempore sunt ratione, error quis
        |fugiat non quos dolor porro nihil, fugit iste neque alias ipsa repudiandae sit at. Quia minima,
        |cupiditate, officiis beatae provident nihil ipsum voluptatem odio?
      button.start-btn click here
