footer
  #contacts.footer-bg.map-marker
    h2 start your journey
    h3 contact us
  .footer-contacts
    ul.main-contacts
      li.desc-txt.envelope-regular
        p.main-contacts-item-title email
        a.main-contacts-item-subtitle(href='mailto:free@psdfreebies.com') free@psdfreebies.com
        a.main-contacts-item-subtitle(href='mailto:free@psdfreebies.com') free@psdfreebies.com
      li.desc-txt.phone-mob
        p.main-contacts-item-title call us
        a.main-contacts-item-subtitle(href='tel:+12345678901') +1(234)56-78-901
        a.main-contacts-item-subtitle(href='tel:+12345678901') +1(234)56-78-901
      li.desc-txt.map
        p.main-contacts-item-title address
        p.main-contacts-item-subtitle
          | 123, Main Road, New City,
          br
          | My Country 123456
    ul.social-contacts
      li
        a(href="https://www.facebook.com/" target="_blank").facebook social
      li
        a(href="https://www.google.com/" target="_blank").google social
      li
        a(href="https://vk.com/" target="_blank").vkontakte social
      li
        a(href="https://www.youtube.com/" target="_blank").youtube social
      li
        a(href="https://www.linkedin.com/" target="_blank").linkedin social
      li
        a(href="https://digg.com/" target="_blank").digg social
      li
        a(href="https://www.deviantart.com/" target="_blank").deviantart social
  .footer-copyright
    p.desc-txt Designed By PSDFreebies.com
    p.desc-txt Developed By Buldakov Aleksandr
    p.desc-txt Copyright 2020, All Right Reserved
  button.up-btn up
