.about {
  display: flex;
}

.about-bg {
  background-repeat: no-repeat;
  background-size: cover;
  //max-width: 800px;
  width: 100%;
  height: 619px;

}

.train {
  background-image: url("/img/train-XL.jpg");
}

.train-side {
  background-image: url("/img/train-side-XL.jpg");
}
