.about {
  display: flex;
}

.about-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  width: 50%;
  min-height: 619px;
}

.left-pic {
  background-image: url("/img/about/left-side-XL.jpg");
}

.right-pic {
  background-image: url("/img/about/right-side-XL.jpg");
}

.column {
  padding: 0 60px;

  h3, h4 {
    text-align: left;
  }

  h3 {
    margin: 0 0 5px;
  }

  h4 {
    margin: 0 0 40px;
  }

  ul {
    margin: 45px 0 0;
  }
}

.about-list-item {
  position: relative;
  margin: 0 0 25px;
  padding: 0 0 0 50px;

  &:before {
    @include pseudo("\f058");
    left: 0;
    top: -5px;
    @include font-size(30);
    color: $secondary;
  }
}
