.about {
  background: url("/img/about/right-side-XL.jpg") no-repeat fixed;
  background-size: cover;

  img {
    display: none;
  }

  @include media(min, 1024) {
    display: flex;
    justify-content: center;
    background-image: url("/img/about/right-side-revert-XL.jpg");

    img {
      display: block;
      width: 400px;
      align-self: flex-start;
    }
  }

  @include media(min, 1224) {
    padding-top: 0;
    padding-bottom: 0;

    .about-block {
      align-self: center;
      width: 50%;
    }
  }
}

.side-container {
  padding: 0 20px;

  h2 {
    margin-bottom: .375em;
  }

  ul {
    margin-top: 2.5em;
  }

  @include media(min, 500) {
    max-width: 530px;
    margin: 0 auto;
  }

  @include media(min, 1024) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 60px;

    h2,
    h3 {
      text-align: left;
    }
  }

  @include media(min, 1224) {
    padding: 70px 60px;
    max-width: none;
  }
}

.about-list-item {
  position: relative;
  margin-bottom: 1.389em;
  padding-left: 50px;

  &:before {
    @extend %check;
    font-family: FontAwesome;
    @include font-size(30);
    position: absolute;
    top: -5px;
    left: 0;
    color: $secondary;
  }
}
