.best-deals {
  background: url("/img/deals/deals-bg-XL.jpg") no-repeat center fixed;
  background-size: cover;
}

.grid-item-container {
  padding-top: 18px;

  @include media(min, 500) {
    padding-top: 0;
  }

  @include media(min, 1024) {
    padding: 18px 15px 120px;
    max-width: 380px;
    text-align: center;
  }

  @include media(min, 1224) {
    padding-bottom: 135px;
  }
}

.deal-duration {
  @include font-size(20);
  font-weight: $medium;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.deal-rout {
  @include font-size(28);
  font-weight: $black;
  text-transform: capitalize;
}

.deal-desc {
  @extend .desc-txt;
  margin: 5px 0 20px;

  @include media(min, 500) {
    margin-bottom: 0;
  }
}

.book-now-block {
  @include media(min, 500) {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
  }

  @include media(min, 1024) {
    @include centering(x);
    bottom: 20px;
    display: block;
    max-width: none;
  }
}

.deal-price {
  @include font-size(30);
  font-weight: $black;

  @include media(min, 500) {
    margin-top: 18px;
    align-self: center;
  }
}
