.blog {
  background: url("/img/blog/blog-bg-XL.jpg") no-repeat center fixed;
  background-size: cover;
}

.blog-btn {
  @extend .grid-btn;

  @include media(min, 1024) {
    @include centering(x);
    top: -18px;
    margin: 0;
  }

  @include media(min, 1224) {
    top: -23px;
  }
}

.blog-title {
  @include font-size(25);
  font-weight: $black;
  text-transform: capitalize;
  margin: 0 0 7px;
}

.blog-container {
  margin: 20px auto 0;

  @include media(min, 500) {
    margin: 0;
  }

  @include media(min, 1024) {
    position: relative;
    margin: 0 auto;
    padding: 40px 20px 25px;
    max-width: 280px;
    text-align: center;
  }

  @include media(min, 1224) {
    padding: 55px 0 35px;
  }
}
