.footer-bg {
  background: url("/img/contact-us-bg-XL.png") no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  min-height: 270px;
  color: #fff;

  &:after {
    @include pseudo("\f041", block, absolute);
    @include font-size(160);
    @include centering(x);
    bottom: -40px;
    color: $primary;
  }

  @include media(min, 768) {
    min-height: 300px;

    &:after {
      @include font-size(150);
      bottom: -40px;
    }
  }

  @include media(min, 1024) {
    min-height: 355px;

    &:after {
      @include font-size(170);
      bottom: -40px;
    }
  }

  @include media(min, 1224) {
    padding-top: 140px;
    min-height: 465px;

    &:after {
      @include font-size(200);
      bottom: -60px;
    }
  }
}

.footer-contacts {
  padding: 60px 20px 50px;

  @include media(min, 768) {
    padding: 90px 20px 80px;
  }
}

.main-contacts {
  display: inline-block;
  margin: 0 auto 60px;
  transform: translateX(-50%);
  position: relative;
  left: 50%;

  li {
    margin-bottom: 25px;
    padding: 0 0 0 70px;
    position: relative;

    &:before {
      @include pseudo();
      left: 0;
      @include font-size(50);
      line-height: 1;
    }

    a {
      display: block;
      color: inherit;
      transition: .2s ease;

      &:hover {
        color: $secondary;
      }
    }
  }

  @include media(min, 768) {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    transform: none;
    left: 0;

    li {
      padding: 70px 0 0;
      width: 30%;
      text-align: center;

      &:before {
        @include centering(x);
        top: 0;
      }
    }
  }

  @include media(min, 1224) {
    display: flex;
    justify-content: space-between;
    margin:  0 auto 95px;
    max-width: 1025px;
    transform: none;
    left: 0;

    li {
      padding: 0 0 0 70px;
      text-align: left;

      &:before {
        transform: none;
        left: 0;
      }
    }
  }
}

.main-contacts-item-icon {
  @include font-size(72);
  margin: 0 30px 0 0;
}

#email {
  &:before {
    content: "\f003";
  }
}

#call {
  &:before {
    content: "\f10b";
    @include font-size(72);
    top: 6px;
    left: 9px;
    line-height: .7;
  }

  @include media(min, 768) {
    &:before {
      left: 50%;
    }
  }

  @include media(min, 1224) {
    &:before {
      left: 0;
    }
  }
}

#address {
  &:before {
    content: "\f278";
    top: 5px;
  }
}

.main-contacts-item-title {
  font-weight: $bold;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.main-contacts-item-subtitle {
  @include font-size(16);
}

.social-contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 340px;
  margin: 0 auto;

  li {
    margin: 0 10px 10px;
    width: 50px;
    height: 50px;

    a {
      @include font-size(0);
      display: block;
      width: 100%;
      height: 100%;
      border: 3px solid $primary;
      border-radius: 50%;
      color: transparent;
      position: relative;

      &:before {
        @include pseudo();
        @include font-size(30);
        @include centering(xy);
        color: $icon-color;
      }

      &:hover {
        border: 3px solid rgba(0, 166, 255, .65);;
        background: #eaeaea;
        box-shadow: rgba(0, 0, 0, .3) 0 0 6px;
      }
    }
  }

  @include media(min, 500) {
    li {
      width: 65px;
      height: 65px;
    }
  }

  @include media(min, 768) {
    max-width: none;

    li {
      margin: 0 15px;
      width: 65px;
      height: 65px;
    }
  }
}

.facebook:before {
  content: "\f09a"!important;
}

.google:before {
  content: "\f0d5"!important;
}

.vkontakte:before {
  content: "\f189"!important;
}

.youtube:before {
  content: "\f167"!important;
}

.linkedin:before {
  content: "\f0e1"!important;
}

.digg:before {
  content: "\f1a6"!important;
}

.deviantart:before {
  content: "\f1bd"!important;
}

.footer-copyright {
  position: relative;
  padding: 60px 20px 65px;
  text-align: center;

  p {
    margin-bottom: 10px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

.up-btn {
  @include font-size(0);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: $secondary;
  color: transparent;
  box-shadow: rgba(0, 0, 0, .2) 0 5px 25px;
  z-index: 1;

  &:after {
    content: '\f077';
    @include centering(xy);
    @include font-size(20);
    font-family: FontAwesome;
    color: #fff;
  }

  &:hover {
    background: #1aafff;
  }

  &:active {
    color: transparent;
  }

  @include media(min, 768) {
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
  }
}
