// General styles
html,
body {
  $base-font: 12;
  font-size: $base-font+px;

  @include media(min, 768) {
    $base-font: 14;
    font-size: $base-font+px;
  }

  @include media(min, 1224) {
    $base-font: 16;
    font-size: $base-font+px;
  }
}

section {
  font-family: $montserrat;
  position: relative;
  padding: 70px 0 80px;
}

.desc-txt {
  @include font-size(18);
  font-family: $lato;
  letter-spacing: .5px;
  line-height: 1.55;
}

button,
input {
  font-weight: $medium;
  border: 0;
  border-radius: 5px;
}

button,
input[type='submit'] {
  @include font-size(15);
  text-transform: uppercase;
  box-shadow: rgba(72, 72, 72, .2) 0 5px 15px;

  &:hover {
    box-shadow: rgba(72, 72, 72, .2) 0 5px 15px 3px;
  }

  &:active {
    box-shadow: rgba(72, 72, 72, .2) 0 5px 15px;
  }
}

button {
  padding: 0;
  background-image: linear-gradient(to bottom, #f9e03b, #f5dd3a, #f2d93a, #eed639, #ebd338);

  &:hover {
    background-image: linear-gradient(to bottom, #fae76b, #f7e46a, #f5e268, #f2df67, #f0dd66);
  }

  &:active {
    color: $light-txt;
    background-image: linear-gradient(to bottom, #c6ac06, #bfa70a, #b9a10d, #b29c0f, #ac9711);
  }
}

h3, h4 {
  @include font-size(37);
  text-transform: capitalize;
  text-align: center;
}

h3 {
  font-weight: $black;
  margin: 0 0 25px;
}

h4 {
  font-weight: $medium;
  margin: 0 0 60px;
}

// Use for search and footer sections
.search-section,
.footer-copyright {
  background: url("/img/yellow-bg.jpg");
}

// Use for budget, best-deals and blog sections
.grid-block {
  position: relative;
  z-index: 1;

  @include media(min, 1024) {
    display: flex;
    justify-content: space-between;
  }
}

.grid-item {
  position: relative;
  max-width: 380px;
  margin: 0 auto 50px;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 #adadad;
  background: rgba(255, 255, 255, .65);

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 250px;
    margin: 0 auto;
  }

  @include media(min, 500) {
    display: flex;
    max-width: none;
    text-align: left;
    overflow: hidden;

    img {
      margin: 0 15px 0 0;
      width: 200px;
      align-self: center;
    }
  }

  @include media(min, 768) {
    img {
      width: 250px;
    }
  }

  @include media(min, 1024) {
    display: block;
    margin: 0 10px;
    padding: 0;
    background: $light-txt;

    img {
      width: auto;
    }
  }

  @include media(min, 1224) {
    margin: 0;
    max-width: 350px;
  }

  @include media(min, 1400) {
    max-width: 380px;
  }
}

// Use for budget and best-deals sections
.btm-block {
  @include font-size(0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: $secondary;

  @include media(min, 1024) {
    height: 205px;
  }

  @include media(min, 1224) {
    height: 255px;
  }
}

// Use for best deals, blog and slide-show sections
.grid-btn {
  @include font-size(15);
  width: 140px;
  height: 35px;
  margin-top: 18px;

  @include media(min, 1224) {
    width: 175px;
    height: 45px;
  }
}

// Slick
.slick-slider {
  position: relative;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .slick-track,
  .slick-list {
    transform: translate3d(0, 0, 0);
  }
}

.slick-list {
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.slick-track {
  position: relative;

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
  float: left;

  .slick-initialized & {
    display: block;
  }
}
