// General styles
section {
  font-family: $montserrat;
  position: relative;
  padding: 70px 0 80px;
}

.desc-txt {
  font-family: $lato;
  @include font-size(18);
  letter-spacing: .5px;
  line-height: 1.55;
}

button,
input {
  border: 0;
  border-radius: 5px;
  font-weight: $medium;
}

button,
input[type='submit'] {
  @include font-size(15);
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, .2) 0 5px 15px;

  &:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 15px 3px;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 15px;
  }
}

button {
  background-image: linear-gradient(to bottom, #f9e03b, #f5dd3a, #f2d93a, #eed639, #ebd338);

  &:hover {
    background-image: linear-gradient(to bottom, #fae76b, #f7e46a, #f5e268, #f2df67, #f0dd66);
  }

  &:active {
    color: $light-txt;
    background-image: linear-gradient(to bottom, #c6ac06, #bfa70a, #b9a10d, #b29c0f, #ac9711);
  }
}

h3, h4 {
  @include font-size(37);
  text-transform: capitalize;
  text-align: center;
}

h3 {
  font-weight: $black;
  margin: 0 0 25px;
}

h4 {
  font-weight: $medium;
  margin: 0 0 60px;
}

.search-section,
.footer-copyright {
  background: url("/img/yellow-bg.jpg");
}

.grid-block {
  max-width: 1255px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.grid-item {
  max-width: 380px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 5px 0 #adadad;
  position: relative;
}

.btm-block {
  height: 255px;
  width: 100%;
  background: $secondary;
  position: absolute;
  bottom: 0;
}

.grid-btn {
  width: 175px;
  height: 45px;
  @include font-size(15);
}
