.search-title {
  text-transform: uppercase;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin: 65px auto 0;
  max-width: 1216px;

  input {
    height: 40px;

    &[type='text'] {
      @include font-size(17);
      padding: 0 0 0 20px;
      outline: none;

      &:focus {
        background: #f3f3f3;
        border: 1px solid #b6bfff;
      }
    }
  }
}

.form-item-title {
  @include font-size(20);
  font-weight: $medium;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.location {
  width: 240px;
  text-transform: capitalize;
}

.period {
  width: 210px;
  text-transform: uppercase;
}

.persons-numb {
  width: 130px;
}

.search-btn {
  width: 190px;
  margin: 0 0 0 40px;
  align-self: flex-end;
  background: $send-form-color;
  color: $light-txt;

  &:hover {
    background: #1f37ea;
  }

  &:active {
    background: #0e1e95;
  }
}
