.service-list {
  margin-top: 3.333em;

  @include media(min, 500) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(min, 1024) {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  }

  @include media(min, 1224) {
    max-width: 1245px;
    padding-bottom: 15px;
  }
}

.service-list-item {
  margin-bottom: 40px;
  padding-left: 70px;
  position: relative;

  &:before {
    @include font-size(40);
    @include pseudo();
    left: 10px;
    color: $secondary;
  }

  @include media(min, 500) {
    padding-left: 110px;

    &:before {
      @include font-size(55);
    }
  }

  @include media(min, 1024) {
    width: 50%;
    margin-bottom: 50px;
    padding-right: 40px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      padding-right: 0;
      padding-left: 150px;

      &:before {
        left: 50px;
      }
    }
  }

  @include media(min, 1224) {
    padding-right: 90px;
    padding-left: 110px;

    &:nth-child(even) {
      padding-right: 50px;
      padding-left: 150px;
    }
  }
}

#plane {
  &:before {
    content: "\f072";
  }
}

#train {
  &:before {
    content: "\f238";
  }
}

#hotel {
  &:before {
    content: "\f19c";
  }
}

#bike {
  &:before {
    content: "\f206";
  }
}

#cultery {
  &:before {
    content: "\f0f5";
  }
}

#eye {
  &:before {
    content: "\f06e";
  }
}

.title-txt {
  @include font-size(22);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: .454545em;
}
