.status-section,
.status-line,
.status-line-item {
  display: flex;
}

.status-section button {
  margin: 60px 0 0;
}

.status-line {
  border: 2px solid $secondary;
  height: 100px;
  margin: 0 0 50px;
  justify-content: space-between;
  clip-path: polygon(96.3% 0%, 100% 50%, 96.3% 100%, 0 100%, 0 50%, 0 0);
  background: $secondary;
}

.status-line-item {
  width: 35.7%;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
  align-items: center;
  @include font-size(22);
  font-weight: $medium;
  text-transform: capitalize;

  p {
    margin: 0 0 0 30px;
    padding: 0 0 0 55px;
    position: relative;

    &:before {
      @include pseudo();
      left: 0;
      @include font-size(44);
      @include centering(y);
    }
  }
}

.fly {
  z-index: 2;
  background: $secondary;

  p:before {
    content: "\f072";
  }
}

.cab,
.hotel {
  p {
    margin: 0 0 0 55px;
    padding: 0 0 0 70px;
  }
}

.cab {
  z-index: 1;
  background: $inactive-status;
  margin: 0 0 0 -4%;

  p:before {
    content: '\f1b9';
  }
}

.hotel {
  background: #fff;
  margin: 0 0 0 -4%;

  p:before {
    content: '\f19c';
  }
}

.active {
  color: #fff;
}
