// Set box sizing
*,
::after,
::before {
  box-sizing: border-box;
}

// Base styles
html,
body {
  font-size: $mob-font+px;

  @include media(min, $sm) {
    font-size: $tab-font+px;
  }

  @include media(min, $md-lg) {
    font-size: $desc-font+px;
  }

  @include media(min, $lg-sm) {
    font-size: $desc-width-font+px;
  }
}

body {
  font-family: $sans;
  min-height: 100vh;
  min-width: 320px;
}

a,
button,
input[type='submit'] {
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

//Images style
img {
  max-width: 100%;
  height: auto;
  display: inherit;
}

// Lists style
ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Page inner container
.container {
  max-width: 1295px;
  padding: 0 20px;
  margin: 0 auto;
}
