%phone {
  content: "\f095";
}

%phone-mob {
  content: "\f10b";
}

%envelope {
  content: "\f0e0";
}

%envelope-regular {
  content: "\f003";
}

%facebook {
  content: "\f09a";
}

%google {
  content: "\f0d5";
}

%vkontakte {
  content: "\f189";
}

%youtube {
  content: "\f167";
}

%sign-in {
  content: '\f007';
}

%sign-up {
  content: '\f084';
}

%check {
  content: '\f058';
}

%plane {
  content: "\f072";
}

%train {
  content: "\f238";
}

%hotel {
  content: "\f19c";
}

%bike {
  content: "\f206";
}

%cultery {
  content: "\f0f5";
}

%eye {
  content: "\f06e";
}

%car {
  content: "\f1b9";
}

%star {
  content: "\f005";
}

%map-marker {
  content: "\f041";
}

%map {
  content: "\f278";
}

%linkedin {
  content: "\f0e1";
}

%digg {
  content: "\f1a6";
}

%deviantart {
  content: "\f1bd";
}

%up-arrow {
  content: "\f077";
}
