// Centering block
@mixin centering ($coordinate) {

  @if $coordinate == 'xy' {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @if $coordinate == 'x' {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }

  @if $coordinate == 'y' {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
  }
}

// Pseudo elements (:before, :after)
@mixin pseudo ($content: '', $display: block, $position: absolute) {
  content: $content;
  display: $display;
  position: $position;
  font-family: FontAwesome;
}

// Media queries
@mixin media ($extremum, $width) {

  @if $extremum == 'min' {
    @media only screen and (min-width: $width + 'px') {
      @content
    }
  }

  @if $extremum == 'max' {
    @media only screen and (max-width: $width + 'px') {
      @content
    }
  }
}

//Font size
@mixin font-size ($size) {
  font-size: ($size/$base-font)*1rem;
}
