// Fonts
// ------- Default font -------
$sans: 'Open Sans', sans-serif;

// ------- Custom fonts -------
$montserrat: 'Montserrat', $sans;
$lato: 'Lato', $sans;

// Fonts sizes
$mob-font: 14;
$tab-font: 15;
$desc-font: 16;
$desc-width-font: 18;

// Fonts weight
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;
$black: 900;

//Colors
$primary: #f9e03b;
$secondary: #00a4ff;
$dark-txt: #000;
$light-txt: #fff;
$placeholder: #7e7e7e;
$inactive-status: #e4e4e4;
$icon-color: #373737;
