section#discount.best-deals
  .container
    h2 pack and go
    h3 awesome tours
    .grid-block
      .grid-item
        img(src="/img/deals/deals-item-1-XL.jpg" alt="deals-item-1" title="deals-item-1" loading="lazy")
        .grid-item-container
          p.deal-duration 7 days + 6 nights
          p.deal-rout new york + paris
          p.deal-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo harum, soluta beatae.
          .book-now-block
            p.deal-price &#36; 600
            button.grid-btn book now
      .grid-item
        img(src="/img/deals/deals-item-2-XL.jpg" alt="deals-item-2" title="deals-item-2" loading="lazy")
        .grid-item-container
          p.deal-duration 7 days + 6 nights
          p.deal-rout new york + paris
          p.deal-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo harum, soluta beatae.
          .book-now-block
            p.deal-price &#36; 1000
            button.grid-btn book now
      .grid-item
        img(src="/img/deals/deals-item-3-XL.jpg" alt="deals-item-3" title="deals-item-3" loading="lazy")
        .grid-item-container
          p.deal-duration 7 days + 6 nights
          p.deal-rout new york + paris
          p.deal-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo harum, soluta beatae.
          .book-now-block
            p.deal-price &#36; 800
            button.grid-btn book now
  .btm-block section separator
