section#reviews.customer-reviews-bg
  h2 customer reviews
  h3 we are travel agent
  .slider-wrap
    .customer-slider-item
      p.customer-slider-item-txt
        em "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, maxime saepe obcaecati voluptates
          | nemo. Ex illum neque, ea velit inventore, quas adipisci ipsam pariatur vel facere, magnam ducimus
          | dolorem dolore. Nulla dolor illum, doloremque labore voluptatem placeat expedita aliquam impedit aperiam
          | laboriosam, ratione, quae maxime illo vitae id ullam nemo sequi accusantium."
      .customer-slider-item-stars
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
      .customer-slider-item-info
        img(src="/img/reviews/customer.png" title="John Smith" alt="solo traveler" loading="lazy")
        div
          p.customer-slider-item-title john smith
          p.customer-slider-item-subtitle solo traveler
    .customer-slider-item
      p.customer-slider-item-txt
        em "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec risus magna. Suspendisse sed ex
          | aliquam, sagittis lacus in, porta sapien. Integer in ipsum ac velit accumsan vestibulum. Vestibulum
          | nunc lorem, lacinia at sagittis sit amet, accumsan et lectus. Pellentesque fermentum mauris quis turpis
          | pellentesque, vel malesuada nisi efficitur. Quisque."
      .customer-slider-item-stars
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
      .customer-slider-item-info
        img(src="/img/reviews/customer-1.png" title="Black Jack" alt="group traveler" loading="lazy")
        div
          p.customer-slider-item-title black jack
          p.customer-slider-item-subtitle group traveler