section.search-section
  .container
    h2.search-title find hotels
    form.search-form
      label
        span.form-item-title where
        input(id="location" type="text" placeholder='location' maxlength='15')
      .form-group.duration
        label
          span.form-item-title check in
          input.period(id="check-in" type="text" placeholder='dd.mm.yyyy' maxlength='10')
        label
          span.form-item-title check out
          input.period(id="check-out" type="text" placeholder='dd.mm.yyyy' maxlength='10')
      .form-group.persons
        label
          span.form-item-title adult
          input(id="adult" type="text" placeholder='1' maxlength='2')
        label
          span.form-item-title child
          input(id="child" type="text" placeholder='0' maxlength='2')
      input.search-btn(type='submit' value='click here')
    span.send-form-tooltip Fill the form correctly
