.blog {
  background: url("../img/blog/blog-bg-XL.jpg") no-repeat center fixed;
  background-size: cover;
}

.blog-btn {
  @extend .grid-btn;

  @include media(min, $md-lg) {
    @include centering(x);
    top: -18px;
    margin-top: 0;
  }

  @include media(min, $lg-sm) {
    top: -23px;
  }
}

.blog-title {
  @include font-size(25);
  font-weight: $black;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.blog-container {
  margin-top: 20px;

  @include media(min, $sm) {
    margin-top: 0;
  }

  @include media(min, $md-lg) {
    position: relative;
    margin: 0 auto;
    padding: 40px 0 25px;
    max-width: 280px;
    text-align: center;
  }

  @include media(min, $lg-sm) {
    padding-top: 55px;
    padding-bottom: 35px;
  }
}
