.budget-section {
  background: url("/img/budget-bg-XL.jpg") no-repeat center fixed;
  background-size: cover;
}

.budget-item {
  @extend .grid-item;
  padding: 30px 0 20px;
  width: 100%;

  @include media(min, $sm) {
    padding: 20px 90px 20px 10px;
  }

  @include media(min, $md) {
    padding-right: 110px;
  }

  @include media(min, $md-lg) {
    padding: 30px 0 20px;
    text-align: center;
  }

  @include media(min, $lg-sm) {
    padding-bottom: 35px;
    overflow: visible;
  }
}

.budget-title {
  @include font-size(24);
  font-weight: $extra-bold;
  text-transform: capitalize;

  &:before {
    @include font-size(45);
    font-family: FontAwesome;
    display: block;
    margin-bottom: 15px;
    color: $icon-color;
  }

  @include media(min, $sm) {
    align-self: center;
    margin-right: 20px;
    max-width: 160px;
    width: 100%;
    text-align: center;

    &:before {
      margin-bottom: 10px;
    }
  }

  @include media(min, $md) {
    max-width: 180px;
  }

  @include media(min, $md-lg) {
    max-width: none;
  }

  @include media(min, $lg-sm) {
    &:before {
      @include font-size(70);
      margin-bottom: 20px;
    }
  }
}

.budget-price {
  @include font-size(30);
  font-weight: $medium;
  text-align: center;
  padding: 15px 0;
  width: 104%;
  transform: translateX(-2%);
  background: $primary;

  @include media(max, $sm) {
    margin: 20px 0 30px;
  }

  @include media(min, $sm) {
    position: absolute;
    top: 6px;
    right: -42px;
    transform: rotate(45deg);
    width: 150px;
  }

  @include media(min, $md) {
    top: 8px;
    right: -48px;
    width: 170px;
  }

  @include media(min, $lg-sm) {
    position: static;
    transform: translateX(-2%);
    margin: 20px 0 30px;
    width: 104%;
  }
}

.budget-lst {
  display: inline-block;
  padding-right: 45px;
  padding-left: 45px;
  line-height: 1.3;

  li {
    position: relative;
    padding-left: 20px;
    text-align: left;

    &:before {
      @extend %check;
      @include font-size(17);
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      color: $secondary;
    }
  }

  @include media(min, $sm) {
    padding-right: 0;
    padding-left: 0;
  }

  @include media(min, $md-lg) {
    margin-top: 15px;
    padding-right: 45px;
    padding-left: 45px;
  }

  @include media(min, $lg-sm) {
    li {
      padding-left: 30px;
    }
  }
}
