.customer-reviews-bg {
  background: url("../img/reviews/reviews-bg-XL.jpg") no-repeat center fixed;
  background-size: cover;
  color: $light-txt;

  h3 {
    margin: 0 0 1.5em;
  }
}

.slider-wrap {
  margin: 0 auto;

  @include media(min, $md) {
    max-width: 700px;
  }

  @include media(min, $md-lg) {
    max-width: 900px;
  }

  @include media(min, $lg-sm) {
    max-width: 1075px;
  }
}

.customer-slider-item {
  display: block!important;
  width: 90%!important;
  margin: 0 auto;
}

.customer-slider-item-txt {
  @extend .desc-txt;
  text-align: center;
}

.customer-slider-item-stars {
  @include font-size(22);
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  width: 100%;
  margin: 1.36em auto 2.5em;
  color: $primary;
}

.customer-slider-item-info {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: 0 20px 0 0;
  }

  p {
    text-transform: capitalize;
  }
}

.customer-slider-item-title {
  @include font-size(25);
  font-weight: 900;
  margin: 0 0 5px;
}

// Slick style
// Dots
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: relative;
  bottom: -30px;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    position: relative;
    margin: 0 7px;

    button {
      display: block;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: rgba(249, 224, 59, .4);
      font-size: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }

    &.slick-active button:before {
      background: $primary;
      opacity: .8;
    }
  }
}
