.search-title {
  text-transform: uppercase;
}

.search-form {
  margin: 1.85em auto 0;

  input {
    height: 30px;

    &[type='text'] {
      @include font-size(17);
      margin-bottom: 20px;
      padding-left: 20px;
      width: 100%;
      outline: none;

      &:focus {
        background: #f3f3f3;
        border: 1px solid #b6bfff;
      }
    }
  }

  @include media(min, $sm) {
    max-width: 500px;
    margin-top: 3.35em;
  }

  @include media(min, $md) {
    input {
      height: 40px;
    }
  }

  @include media(min, $md-lg) {
    position: relative;

    .persons {
      width: 46%;

      input {
        margin-bottom: 0;
      }
    }
  }

  @include media(min, $lg-sm) {
    display: flex;
    max-width: 1216px;

    label {
      margin-right: 15px;
    }

    input[type='text'] {
      margin-bottom: 0;
    }

    .persons {
      width: auto;
    }
  }
}

.form-group {
  display: flex;
  justify-content: space-between;

  label {
    width: 46%;
  }

  input {
    text-transform: uppercase;
  }

  @include media(min, $lg-sm) {
    label {
      width: auto;
    }

    input[type='text'] {
      width: 210px;
    }

    &.persons input[type='text'] {
      width: 130px;
    }
  }
}

.form-item-title {
  @include font-size(20);
  display: block;
  font-weight: $medium;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#location {
  text-transform: capitalize;

  @include media(min, $lg-sm) {
    width: 240px;
  }
}

.search-btn {
  display: block;
  width: 190px;
  margin-right: auto;
  margin-left: auto;
  align-self: flex-end;
  background: $secondary;
  color: $light-txt;

  &:hover {
    background: #1aafff;
  }

  &:active {
  background: #0095e6;
  }

  @include media(min, $md-lg) {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @include media(min, $lg-sm) {
    position: static;
    margin-left: 30px;
  }
}

.incorrect {
  box-shadow: 0 0 3px 1px red;
}

.send-form-tooltip {
  @include centering(xy);
  @include font-size(16);
  font-weight: 500;
  display: none;
  padding: 20px;
  max-width: 500px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #ff7e7e;
  background-color: #ffc0c0;
  color: #dc0000;
  box-shadow: 0 0 5px 0 #ff4d4d;
  text-align: center;
}
