.service-list {
  margin-top: 3.333em;

  @include media(min, $sm) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(min, $md-lg) {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  }

  @include media(min, $lg-sm) {
    max-width: 1245px;
    padding-bottom: 15px;
  }
}

.service-list-item {
  margin-bottom: 40px;
  padding-left: 70px;
  position: relative;

  &:before {
    @include font-size(40);
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    color: $secondary;
  }

  @include media(min, $sm) {
    padding-left: 110px;

    &:before {
      @include font-size(55);
    }
  }

  @include media(min, $md-lg) {
    width: 50%;
    margin-bottom: 50px;
    padding-right: 40px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      padding-right: 0;
      padding-left: 150px;

      &:before {
        left: 50px;
      }
    }
  }

  @include media(min, $lg-sm) {
    padding-right: 90px;
    padding-left: 110px;

    &:nth-child(even) {
      padding-right: 50px;
      padding-left: 150px;
    }
  }
}

.bike {
  &:before {
    @extend %bike;
  }
}

.cultery {
  &:before {
    @extend %cultery;
  }
}

.eye {
  &:before {
    @extend %eye;
  }
}

.title-txt {
  @include font-size(22);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: .454545em;
}
