.slide-show {
  .grid-btn {
    margin-top: 0;
  }

  @include media(min, $lg) {
    max-width: 1365px;
    margin: 0 auto;
  }
}

.tour-desc-img {
  display: none;

  @include media(min, $md) {
    display: block;
    width: 750px;
    margin: 0 auto;
  }

  @include media(min, $md-lg) {
    margin-left: 60px;
  }

  @include media(min, $lg-sm) {
    width: auto;
  }

  @include media(min, $lg) {
    margin-right: 0;
    margin-left: 0;
  }
}

.tour-desc {
  padding: 0 20px;
  background: #fff;

  @include media(min, $sm) {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  @include media(min, $md) {
    @include centering(xy);
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 0 5px #969696;
    background: rgba(255, 255, 255, .85);
  }

  @include media(min, $md-lg) {
    transform: translateY(-50%);
    right: 60px;
    left: auto;
  }

  @include media(min, $lg) {
    right: 0;
    background: #fff;
  }
}

.tour-desc-title {
  margin: 0 0 .375em;
}

.tour-desc-period {
  @include font-size(24);
  text-transform: capitalize;
  text-align: center;
}

.tour-desc-title,
.tour-desc-period {
  @include media(min, $md-lg) {
    text-align: left;
  }
}

.status-list {
  @include font-size(20);
  @include centering(x);
  display: inline-block;
  position: relative;
  margin: 1.75em 0;

  li {
    @include font-size(20);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:before {
      @include font-size(47);
      display: block;
      font-family: FontAwesome;
      min-width: 60px;
      color: $secondary;
    }

    &:last-child {
      margin: 0;
    }
  }

  .plane:before {
    @include font-size(55);
  }

  @include media(min, $sm) {
    display: flex;
    justify-content: space-between;

    li {
      display: block;
      width: 30%;
      margin-bottom: 0;
      text-align: center;

      &:before {
        height: 40px;
        margin-bottom: 15px;
      }
    }
  }

  @include media(min, $md-lg) {
    li {
      text-align: left;
    }
  }
}

.tour-book-section {
  margin-top: 1.666em;
  text-align: center;

  @include media(min, $sm) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include media(min, $md-lg) {
    justify-content: flex-start;
  }
}

.tour-book-price {
  @include font-size(50);
  font-weight: $black;
  margin-bottom: .75em;

  @include media(min, $sm) {
    margin-right: 85px;
    margin-bottom: 0;
  }
}
