.start-section {
  background: url('../img/start-bg-XL.jpg') no-repeat center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 70px;

  @include media(min, $md-lg) {
    padding-top: 330px;
    padding-bottom: 170px;
  }
}

.start-section-greating {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 20px;
  color: $light-txt;
  text-align: center;

  h1 {
    @include font-size(34);
    text-transform: capitalize;
    letter-spacing: .3px;
    margin-bottom: .4em;
  }

  h2 {
    @include font-size(20);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 1.13em;
  }

  p {
    margin-bottom: 2.778em;
  }

  @include media(min, $md) {
    max-width: 760px;

    h1 {
      @include font-size(74);
    }

    h2 {
      @include font-size(40);
      letter-spacing: 12px;
    }
  }

  @include media(min, $md-lg) {
    max-width: 800px;
  }
}
