.status-section {
  img {
    display: none;
  }

  button {
    display: block;
    margin: 3.75em auto 0;
  }

  @include media(max, $md) {
    .side-container {
      padding: 0;
    }
  }

  @include media(min, $md-lg) {
    .container {
      display: flex;
      max-width: 900px;
    }

    img {
      display: block;
      width: 300px;
      align-self: center;
    }

    button {
      display: inline-block;
    }
  }

  @include media(min, $lg-sm) {
    .container {
      max-width: 1295px;
    }

    img {
      width: auto;
    }

    .side-container {
      padding: 0 0 0 90px;
    }
  }
}

.status-line {
  max-width: 300px;
  margin: 2.5em auto;

  .car {
    background: $inactive-status;

    @include media(min, $lg-sm) {
      z-index: 1;
    }
  }

  @include media(min, $md-lg) {
    margin: 2.5em 0;
  }

  @include media(min, $lg-sm) {
    display: flex;
    max-width: none;
    height: 100px;
    border: 2px solid $secondary;
    clip-path: polygon(96.3% 0%, 100% 50%, 96.3% 100%, 0 100%, 0 50%, 0 0);
    background: $secondary;
  }
}

.status-line-item {
  @include font-size(22);
  font-weight: $medium;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 55px;
  min-height: 40px;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
  text-transform: capitalize;

  &:nth-child(n+2) {
    @include media(min, $lg-sm) {
      margin-left: -4%;
      padding-left: 117px;

      &:before {
        left: 50px;
      }
    }
  }

  &:before {
    @include centering(y);
    left: 20px;
    font-family: FontAwesome;
  }

  @include media(min, $md) {
    min-height: 50px;
  }

  @include media(max, $lg-sm - 1) {
    &:last-child {
      background: $secondary;

      &:before {
        z-index: 1;
      }

      &:after {
        content: '';
        background: $light-txt;
        width: 98%;
        height: 92%;
        position: absolute;
        left: 2px;
        clip-path: polygon(90.5% 0, 100% 50%, 90.5% 100%, 0 100%, 0 50%, 0 0);
      }

      span {
        z-index: 1;
      }
    }
  }

  @include media(min, $lg-sm) {
    padding-left: 70px;
    width: 35.9%;

    &:first-child {
      z-index: 2;
    }
    &:last-child {
      background: $light-txt;
    }

    &:before {
      @include font-size(44);
    }
  }
}

.active {
  color: #fff;
  background: $secondary;
}
