head
  title Title

  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Enter your description')
  meta(name='keywords' content='Enter your keywords')

  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;800;900&display=swap' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  link(href='/img/favicon.ico' type='image/x-icon' rel='shortcut icon')

  // Include custom style
  link(href='css/main.css' type='text/css' rel='stylesheet')

  // Script
  noscript
    style.
      body {
        padding-top: 52px;
      }

      .no-script-msg {
        position: fixed;
        top: 0;
        padding: 12px 15px;
        width: 100%;
        font-size: 13px;
        background: #f9e03b;
        text-align: center;
        z-index: 99;
      }

      @media only screen and (min-width: 348px) {
        body {
          padding-top: 38px;
        }
      }
    p.no-script-msg You need to enable javascript to use this app correct
