doctype html
html(lang='en')
  include meta_files/_head
  body
    include components/base/_header
    main
      include components/custom/_start-section
      include components/custom/_search
      include components/custom/_about
      include components/custom/_services
      include components/custom/_budget-packages
      include components/custom/_tour-status
      include components/custom/_best-deals
      include components/custom/_blog
      include components/custom/_slide-show
      include components/custom/_customer-reviews
    include components/base/_footer
    include meta_files/_footer_scripts
