doctype html
html(lang='en')
  include meta_files/_head
  body
    include components/_header
    main
      section.start-section
        .start-section-greating
          h1 start your greatest
          h2 adventure with us!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia suscipit veleos repellat obcaecati non
            |laborum explicabo cupiditate fugiat. Corrupti
          button.start-btn click here
      include components/_search
    footer
    include meta_files/_footer_scripts
