doctype html
html(lang='en')
  include meta_files/_head
  body
    include components/_header
    main
      include components/_start-section
      include components/_search
      include components/_about
      include components/_services
      include components/_budget-packages
      include components/_tour-status
      include components/_best-deals
      include components/_blog
      include components/_slide-show
      include components/_customer-reviews
    footer
      include components/_footer
    include meta_files/_footer_scripts
